In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
student_data = pd.read_csv('student_marks.csv')

**Exploratory Data Analysis**

In [4]:
student_data.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [5]:
# shape of data
student_data.shape #100 records 3

(100, 3)